.cache/
compile_commands.json
src/*.o
hello_world
bad_su
busybox*
linux/
initramfs-scc0140.cpio
initramfs-scc0140.cpio.gz
initramfs/linuxrc
initramfs/bin/*
initramfs/sbin/*
initramfs/usr/include
initramfs/usr/bin/*
initramfs/usr/sbin/*
!**/.gitkeep
